#----------------------------------------------------------------#
#---Disable beep sound in terminal; change made by jape 16.2.2022#
#----------------------------------------------------------------#
set bell-style none
